.form-container{
  margin: 30px 30px;
  width: 25%;

  .cards-container {
    margin-top: 40px;
    
    .card {
      margin: 10px auto;
      background-color: #545D70;
      color: white;
    }
  }
}